@charset "UTF-8";

@font-face {
    font-family: 'TT';
    src: url('../fonts/TT\ Backwards\ Sans\ Trial\ Regular.otf');
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Catalish';
    src: url('../fonts/Catalish\ Huntera.otf');
}

* {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

:root {
    --cor1: #0d0d0d;
    --cor2: #595959;
    --cor3: #a6a6a6;
    --cor4: #332424;
    --cor5: #c0902a;
}

body {
    background-color: var(--cor1);
    margin: auto;
}

/* HEADER */
header {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    max-width: 1200px;
    margin: auto;
}

#logo {
    font-size: 1.4rem;
}

#nav_list {
    display: flex;
    gap: 15px;
    list-style: none;
}

.nav-link {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.nav-link::after {
    content: ' ';
    position: absolute;
    top: 20px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--cor5);
    transition: width 0.3s ease;
}

.nav-link:hover {
    transition-duration: 0.5s;
    color: var(--cor5);
}

.nav-link:hover::after {
    width: 100%;
}

/* HERO */
#hero {
    position: relative;
    background-image: url('../img/orquestra.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    padding: 150px 0 100px;
    margin-bottom: 80px;
}

#sub-hero {
    margin: auto;
    max-width: 1200px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.867);
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.079) 20%);
    z-index: 1;
}

.overlay-content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

#hero-title {
    font-size: 4rem;
    font-weight: bold;
    font-family: 'TT', Arial, Helvetica, sans-serif;
    letter-spacing: -2px;
    margin-bottom: 10px;
}

#hero-legend {
    font-family: 'Catalish';
    font-size: 2rem;
    color: var(--cor5);
    margin-bottom: 15px;
}

#hero-description {
    width: 500px;
    margin-bottom: 30px;
}

.hero-link-container {
    display: flex;
    align-items: center;
}

.hero-link {
    background-color: var(--cor5);
    color: white;
    border-radius: 50px;
    transition: background-color 0.3s ease-out, color 0.3s ease-in-out;
    padding: 20px 25px;
}

.hero-link:hover {
    background-color: white;
    color: black;
}

.hero-img-container {
    position: relative;
}

.hero-img1 {
    max-width: 400px;
    border-radius: 10px;
    transform: rotate(10deg) translateY(50%);
}

.hero-img2 {
    position: absolute;
    max-width: 400px;
    transform: rotate(-10deg) translate(-100%, -50%);
    border-radius: 10px;
}

/* ATUALIZAÇÕES */
#atualizacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}

#atualizacoes_title {
    width: 300px;
    text-align: center;
    color: var(--cor5);
    font-size: 1.5rem;
    font-weight: bold;
    border-top: 1px solid var(--cor5);
    border-bottom: 1px solid var(--cor5);
    margin-bottom: 50px;
    padding: 5px 0;
}

/* Slideshow */
.slideshow-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 50px;
}

.slideshow {
    position: relative;
    width: 50%;
    height: 300px;
}

.text {
    width: 40%;
    padding: 20px;
}

.imagem {
    position: absolute;
    width: 500px;
    opacity: 0;
    border-radius: 15px;
    animation: slideshow 12s infinite;
}

.imagem1 {
    animation-delay: 0s;
}

.imagem2 {
    animation-delay: 3s;
}

.imagem3 {
    animation-delay: 6s;
}

.imagem4 {
    animation-delay: 9s;
}

@keyframes slideshow {
    0% { opacity: 0; }
    10% { opacity: 1; }
    33% { opacity: 1; }
    43% { opacity: 0; }
    100% { opacity: 0; }
}

/* MEDIA QUERIES */
/* Para tablets e telas médias */
@media screen and (max-width: 900px) {
    header {
        flex-direction: column;
    }

    .overlay-content {
        flex-direction: column;
        align-items: center;
    }

    #hero-title {
        font-size: 3rem;
    }

    #hero-legend {
        font-size: 1.5rem;
    }

    .slideshow-container {
        flex-direction: column;
    }

    .slideshow {
        width: 80%;
    }

    .text {
        width: 100%;
        padding: 10px;
    }
}

/* Para smartphones e telas pequenas */
@media screen and (max-width: 600px) {
    .hero-img-container {
        display: none;
    }

    #hero {
        padding: 100px 0;
    }

    #hero-title {
        font-size: 2rem;
    }

    #hero-legend {
        font-size: 1.2rem;
    }

    #hero-description {
        width: 100%;
    }

    .slideshow {
        width: 100%;
    }

    .text {
        padding: 5px;
    }
}
